:root {
    --basic-bg: #ffffff;
    --basic-text: #000000;
    --accent-text: #333333; 
    --basic-accent: #81B3D2;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;
    --hover-brown: #604E43;
    --active-brown: #503E33;
    --basic-grey: #EEEEEE;
    --ui-accent: #766357;
    --ui-grey: #F2F2F2;
    --hover-grey: #EBEBEB;
    --icon-grey: #A9A9A9;
    --control: #CACACA;
    --range-control: #ABABAB;
    --footer-logo: #231F20;
    --active-logo: #BDBBBC;
    --ui-text: #666666;
    --basic-transparent: rgba(255, 255, 255, 0.9);
    --transparent-scale: rgba(255, 255, 255, 0.3);

}

@font-face {
    font-family: "PTSans";
    font-weight: 400;
    font-style: normal;
    src: local("PTSans"),
        url("/fonts/PTSans.woff2") format("woff2"),
        url("/fonts/PTSans.woff") format("woff");
}

@font-face {
    font-family: "PTSans-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("PTSans-Bold"),
        url("/fonts/PTSans-Bold.woff2") format("woff2"),
        url("/fonts/PTSans-Bold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-text);
    background-color: var(--basic-bg);
    min-width: 1220px; 
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.shadow-bg {
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2); 
    margin: 0 auto;
    position: relative; 
}

.page-body {

}

/* Navigation */

.header-logo-center {
    display: block;
    text-align: center;
    width: 138px;
    position: absolute;
}

/*.main-header { 
     
}*/

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-text);
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    width: 1200px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 16px;
}

.site-navigation li:nth-child(3) {
    margin-left: 100px;
}

.site-navigation li:nth-child(2) {
    margin-right: 100px;
}

/*.main-navigation-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}*/

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:active {
    color: var(--ui-accent);
} 

.site-navigation a {
    color: var(--basic-text);
}

.site-navigation a:hover {
    color: var(--basic-accent);
}

.site-navigation a:active {
    color: rgba(var(--basic-text), 0.3);
}

/* Container */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Slide */

.slide { 
    text-align: center;
    align-items: center;
}

.slick {
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
}

/* Features */

/*.features {
    margin-bottom: 52px;
}*/

.features-caption {
    margin-top: 35px;
    margin-bottom: 47px;
}

.feature-item--color {
    background-color: var(--basic-grey);
    padding-bottom: 54px;
    padding-top: 25px;
}

.features-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;  
}

.features-list ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.feature-item {
    text-align: center;
    
}

.feature-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.feature-block--reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.feature-item--reverse {
    grid-column: 1 / -1;
}

.feature-text {
    background-color: var(--basic-accent);
}

.feature-text h3 {
    padding-top: 26px;
    
}

.feature-text p {
    padding-top: 5px;
    padding-bottom: 19px;
}

.feature-item p {
    margin: 0 10px;
    color: var(--accent-text);
    padding-top: 6px;
}

.feature-item li {
    padding-bottom: 82px;
    padding-top: 55px;
}

.feature-item--native-city   {
    grid-column: 1 / -1;
}

/*.feature-item--color h3 {
    padding-top: 47px;
}*/

.feature-item--color p {
    padding-top: 5px;
    padding-bottom: 18px;
}

.feature-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline; 
    
}

.feature-wrapper ul {
    margin: 0 auto;
    padding: 0;
}

.features-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    margin-top: 53px;  
}

.features h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--accent-text);
    text-align: center;
}

.features h2 {
    font: inherit;
    font-weight: 400;
    color: var(--accent-text);
    text-align: center;
}

.features-list p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--accent-text);
}

.features-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-text);
}

.feature-text p {
    color: var(--basic-bg);
}

.feature-text h3 {
    color: var(--basic-bg);
}



/* Search */

.search  {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-text);
    text-align: center;    
}

.search-text {
    margin-top: 40px;
}

.search-form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 568px;
    margin: 0 auto;
    margin-top: 46px;
    /*justify-self: center;*/
    /*min-height: 100%;*/  
    background-color: var(--basic-bg);
    position: relative;  
}
  
.search-info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--accent-text);

}

.search-form {
    font-family: "PTSans-Bold";
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-text);
    padding: 49px;
    padding-top: 54px;
    display: flex;
    /*gap: 30px;*/
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--basic-bg);
    position: absolute;
    top: 86px;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.search-form__input {
    font: inherit;
    background-color: var(--ui-grey);
    color: var(--basic-text);
    border: none;
    text-transform: uppercase;
    width: 346px;
    height: 38px;
}

.search-form__input:focus {
    border: 2px solid transparent;
    outline: 0;
}

.search-form__field {
    width: 100%;
}

.search-form__field input {
    padding-left: 12px;
}

.search-form__date-in,
.search-form__date-out {
    position: relative;
}

.calendar {
    border: none;
    padding: 0;
    background-color: transparent;
    outline: 0;
}

.calendar-out,
.calendar-in {
    position: absolute;
    top: 8px;
    right: 8px;
}

.calendar:hover path {
    fill: var(--basic-text);
}

.calendar:active path {
    fill: var(--basic-accent);
}

.add {
    border: none;
    padding: 0;
    background-color: transparent;
    outline: 0;
}

.add-minus-old {
    position: absolute;
    left: 122px;
    top: 10px;
}

.add-plus-old {
    position: absolute;
    left: 210px;
    top: 13px;
}

.add-plus-child {
    position: absolute;
    right: 10px;
    top: 13px;
}

.add-minus-child {
    position: absolute;
    right: 95px;
    top: 10px;
}

.add:hover path,
.add:hover rect {
    fill: var(--basic-text);
}

.add:active path,
.add:active rect {
    fill: var(--basic-accent);
}

.search-form__field {
    padding-bottom: 30px;
}

.old,
.child {
    position: relative;
}

.input-people {   
    width: 114px;
    text-align: center;
    margin-left: 39px;
}

.search-form__date-in label {
    padding-right: 24px;
}

.search-form__date-out label {
    padding-right: 24px;
}

.search-form__date-people label {
    /*padding-right: 40px;*/
}

.search-form__input:hover {
    background-color: var(--hover-grey);
}

.search-form__input:focus {
    background-color: var(--basic-bg);
    border: 2px solid #E5E5E5;
}

.search-form input {
    box-sizing: border-box;
}

.icon a {
    background-color: var(--icon-grey);
}

.icon a:hover {
    background-color: var(--basic-text);
}

.icon a:active {
    color: var(--basic-accent);
}

.button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-bg);
    background-color: var(--ui-accent);
    text-align: center;
    border: none;
    min-height: 86px;
    width: 100%;
    margin: 0 auto;
    justify-self: center;
}

.button:hover {
    background-color: var(--hover-brown);
}

.button:active {
    background-color: var(--active-brown);
}

.search-form__button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-bg);
    background-color: var(--basic-accent);
    text-align: center;
    border: none;
    width: 470px;
    margin-bottom: 6px;
    margin-top: 54px;
    min-height: 58px;
}

.search-form__button:hover {
    background-color: var(--hover-blue);
}

.search-form__button:active {
    background-color: var(--active-blue);
}

/* Footer */

.footer {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-text);
    position: absolute;
    bottom: 0;
    background-color: var(--basic-transparent);   
}

.footer-page {
    background-color: var(--basic-bg);
    position: relative;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1220px;  
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}

.footer-contacts {
    text-align: center;
}

.footer-phone {
    color: inherit;
}

.footer-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    height: 48px;
    justify-self: center;
    align-self: center;
}

.social-button {
    padding-top: 10px;
    margin: 0 auto;
    width: 46px;
}

.footer-copyright {
    padding-top: 38px;
}

.social-button {
    background-color: var(--basic-accent);
}

.social-button:hover {
    background-color: var(--hover-blue);
}

.social-button:active {
    background-color: var(--active-blue);
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-text);
}

.footer-logo {
    color: var(--footer-logo);
}

.footer-logo:hover path {
    fill: var(--basic-accent);
}

.footer-logo:active path {
    fill: var(--icon-grey);
}


/* Catalog */

/* Filters */ 

.filters {
    background-image: url(../img/background-filter.jpg);
    background-repeat: no-repeat;
    background-color: var(--hover-blue);
    min-height: 217px;
}

.filters-form {
    display: flex;
    gap: 10px;
    /*grid-template-columns: 244px 244px 1fr;*/
    padding-top: 27px;
}

.filters-form ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
}

.filters-form legend {
    font-family: "PTSans-Bold";
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.filters-form input {
    box-sizing: border-box;
}

.price-controls {
    height: 32px;
    border: 2px solid var(--basic-bg);
    border-radius: 2px;
    position: relative;
}

.price-controls input {
    width: 55px;
    color: var(--basic-bg);
    background-color: transparent;
    border: 0;
    outline: 0;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 32px;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 63px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 158px;
    width: 2px;
    height: 22px;
    background-color: var(--basic-bg);
    transform: translate(-50%,-50%);
}

.range legend {
    margin-bottom: 11px;
}

.filters-form__name {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-bg);
    width: auto;
    margin: 0;
    padding: 0 73px;
    border: none;   
}

.filters-form__block {
    padding-bottom: 25px;
    padding-left: 41px;
}

.filters-form__block label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filters-form__item::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 19px;
    height: 19px;
    border: 2px solid var(--basic-bg);
    border-radius: 3px;
}

.filters-form__input:checked + .filters-form__item::before {
    opacity: 0;
}

.filters-form__input:checked + .filters-form__item::after {
    opacity: 1;
}

.filters-form__input:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -42px;
    width: 27px;
    height: 23px;
    background-image: url("/img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filters-form__name + .range {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 327px;
    margin-left: auto;
}

.filters-form-input__range {
    display: flex;
}

.filters-form__range {
    background-image: url(../img/range.svg);
    width: 316px;
    margin-bottom: 15px;
}

.range-filter {
    width: 317px;
    height: 36px;
}

.range-controls {
    padding-top: 20px;
    position: relative;    
}

.range-controls .scale {
    height: 2px;
    background-color: var(--transparent-scale);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-bg);
}

.range-controls .toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 0;
  }
  
  .range-controls .toggle-max {
    left: 80%;
  }

/*.filters-form__input {
    background-image: url(../img/checkbox-off.svg);  
}*/

.filters-form__item {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: inherit;
}

.filters-button {
    display: block;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    color: var(--basic-bg);
    border: 2px solid var(--basic-bg);
    border-radius: 2px;
    text-transform: uppercase;
    width: 137px;
    height: 36px;
    margin: 33px 86px;
    padding: 6px 33px;
    cursor: pointer;   
}

.filters-button:hover {
    background-color: var(--basic-bg);
    color: var(--basic-text);
}

/* Result Search */

.result-search {
    margin: 0 auto; 
}

.select-list-control {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.select-list-control:hover path {
    fill: var(--basic-text);
}

.select-list-control:active path {
    fill: var(--basic-accent);
}


.result-search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 73px;
    padding-top: 29px;
}

/*.result-search__text {
    margin-left: 24px;
}*/

.result-search a {
    text-decoration: none;
}

.result-search__caption {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-text);
}

.result-search__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: inherit;
    padding-left: 46px;
}

.select-list {
    list-style: none;
    /*margin: 0 auto;*/
    padding: 0;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.select-list-control {
    list-style: none;
}

.result-serch-button__block {
    display: flex;
    gap: 12px;
    margin-left: auto;
    padding: 0 72px;
}



/*.select-list-control + .down {
    margin-left: 12px;
}*/

.select-item__link {
    color: var(--basic-text);
    opacity: 0.3;
}

.select-item .current {
    color: var(--basic-accent);
}

.select-item__link:hover {
    text-decoration: underline; 
    text-decoration-color: var(--basic-accent);  
}

.select-item__link:active {
    color: var(--basic-text);
    text-decoration: none;
} 


/* Result Search List */

.result-search-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    /*display: flex;
    gap: 20px;
    grid-template-columns: 1fr 1fr;*/
}

.result-search-item {
    list-style: none;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
    display: grid;
    grid-template-columns: 135px 1fr;
    gap: 29px;
    padding: 0 72px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.result-search-item:first-child {
    border-top: 1px solid #E5E5E5;
    margin-top: 31px;
}

.result-search-item img {
    margin: auto;
    padding-top: 20px;
}

.result-search-item__wrapper {
    display: flex;
    /*flex-direction: column;*/
}



/*.result-search-description p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    
}*/


.price-wrap {
    display: grid;
    grid-template-columns: 110px 142px;
    gap: 10px;
    padding-top: 12px;
}

.buttons-wrap {
    display: grid;
    grid-template-columns: 110px 142px;
    gap: 6px;
    padding-top: 10px;
}

.result-search-rating {
    margin-left: auto;
    /*padding: 0 72px;*/
    padding-top: 22px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 47px;*/
}

.wrp {
    padding-top: 18px;
}


/*.result-search-rate {
    margin-top: auto;
}*/

.result-search-item h3 {
    font-family: "PTSans-Bold";
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-text);
    margin: 0;
}

.result-search-item p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--accent-text);
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.item-link:hover {
    color: var(--basic-accent);
}

.item-link:active {
    color: rgba(var(--basic-text), 0.3);
}

.result-search-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-bg);
    background-color: var(--basic-accent);
    padding: 3px 17px; 
}

.result-search-link:hover {
    background-color: var(--hover-blue);
}

.result-search-link:active {
    background-color: var(--active-blue);
}

.result-search-button {
    font: inherit;
    font-weight: 700;
    color: var(--basic-bg);
    background-color: var(--ui-accent);
    text-transform: uppercase;
    border-style: none;
    text-align: center;
    padding: 3px 8px;
    margin-left: 3px;
    width: 142px;
    /*grid-template-columns:  2 / 3;*/
}

.result-search-button:hover {
    background-color: var(--hover-brown);
}

.result-search-button:active {
    background-color: var(--active-brown);
}

/*.stars {
    grid-template-columns: 3 / 4;
}*/

.result-search-rate {
    text-align: center;
    background-color: var(--ui-grey);
    color: var(--ui-text); /* не меняется цвет текста */
    width: 110px;
    padding: 3px 12px; 
   /* grid-template-columns: 3 / 4;*/
}

/* Grids */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.footer-page {
    padding-top: 23px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

















